<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RiftStatistics</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/loader.css">
  <script src="../javascriptScripts/jquery-3.6.4.min.js"></script>
</head>
<body>

<div id="loader-content">

  <div id="loader-wrapper">
    <div id="" class="entry-header">
      <h1 id="entry-title" class="entry-title">Loading</h1>
    </div>
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>

</div>

<div id="page" class="page">

</div>


<script src="../node_modules/sweetalert2/src/SweetAlert.js"></script>
<script type="module" src="../javascriptScripts/UtilitiesScripts.js"></script>
<script type="module" src="../javascriptScripts/ButtonActions.js"></script>
</body>
</html>